<div *ngIf="isLoggedIn(); else noSidebar"
  id="main-wrapper"
  [ngClass]="{ 'show-sidebar': showMobileMenu }"
  dir="ltr"
  data-theme="light"
  data-layout="vertical"
  [attr.data-sidebartype]="sidebartype"
  data-sidebar-position="absolute"
  data-header-position="absolute"
  data-boxed-layout="full">

  <header class="topbar" data-navbarbg="skin1">
    <nav class="d-flex top-navbar navbar-expand-lg navbar-dark">
      <div class="navbar-header" [ngClass]="expandLogo ? 'expand-logo' : ''" data-logobg="skin6">
        <a (click)="showMobileMenu = !showMobileMenu" class="nav-toggler waves-effect waves-light d-block d-lg-none" href="javascript:void(0)">
          <i class="bi bi-text-left fs-6"></i>
        </a>
        <a class="navbar-brand aphrodite-logo" href="/">
          <img src="assets/images/logo_final.png" class="dark-logo" alt="homepage" />
        </a>
        <a class="topbartoggler d-block d-lg-none waves-effect waves-light" href="javascript:void(0)" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed">
          <i class="bi bi-text-right fs-6"></i>
        </a>
      </div>
      <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin1" [ngbCollapse]="!isCollapsed">
        <app-navigation (toggleSidebar)="toggleSidebarType()" class="w-100"></app-navigation>
      </div>
    </nav>
  </header>

  <aside class="left-sidebar" style="background-color: #EFC6B5" data-sidebarbg="skin6" (mouseover)="Logo()" (mouseout)="Logo()">
    <app-sidebar></app-sidebar>
  </aside>

  <div class="page-wrapper">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
    <footer class="footer text-center">
      All Rights Reserved by cosmetic supply chain. Designed and Developed by
      <a href="https://www.wrappixel.com">DataWave</a>.
    </footer>
  </div>
</div>

<ng-template #noSidebar>
  <router-outlet></router-outlet>
</ng-template>
