.report-header {
  text-align: center;
  margin-bottom: 30px;
}

.report-logo {
  width: 100px;
  margin-bottom: 10px;
}

h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5rem;
  color: #007BFF;
}

h3 {
  font-size: 1.2rem;
  margin-top: 20px;
}

ul {
  list-style-type: square;
  margin-left: 20px;
}

button {
  margin-top: 15px;
}

.spinner-border {
  margin: 20px auto;
}

.alert {
  margin-top: 20px;
  text-align: center;
}

.report-content {
  font-size: 1.1rem;
  line-height: 1.5;
  color: #555;
}
