<ul class="navbar-nav float-end"> 
  <li class="nav-item" ngbDropdown placement="bottom-end">
    <a
      ngbDropdownToggle
      class="nav-link waves-effect waves-dark pro-pic d-flex align-items-center"
      href="javascript:void(0)"
    >
      <img
        src="assets/images/users/user4.jpg"
        alt="user"
        class="rounded-circle"
        width="31"
      />
      <span class="ms-2 text-white fw-bold">{{ currentUsername }}</span>
    </a>
    <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
      <a class="dropdown-item text-dark" (click)="switchAccount()">
        Switch Account
      </a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item text-dark" (click)="logout()">
        Logout
      </a>
    </div>
  </li>
</ul>
